@model LogicaNegocio.Models.LoginModel
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <link href="/css/Login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="caja-mayor">
        <div class="caja-mayor2">
            <h2 class="texto">INICIAR SESION</h2>
            <form asp-controller="Login" asp-action="validar" method="post" class="formulario">
                <input class="nom" type="text" required placeholder="  Usuario" asp-for="Nombre_usuario"/>
                <input class="contra" type="password" required placeholder="*******" asp-for="clave_usuario"/>
                    <button type="submit">Iniciar sesión</button>
            </form>
        </div>
        <div class="box-imagen">
            <img src="/css/images/logo.png" />
        </div>
    </div>
</body>
</html>
